recursive-include merlin/data *.yaml *.py
recursive-include merlin/server *.yaml *.py *.conf
recursive-include merlin/examples *
include requirements.txt
include requirements/*
include merlin/spec/merlinspec.json